#Tag{
	font-size: 20px;
	font-weight: bold;
	width: auto;
	height: auto;
	padding: inherit;
	
	
}



#Nav{
	width: 1000px;
	height: 35px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: 3px 2px 3px #333333;
	background-color: #000000;
	 border-radius: 2px;
}

#Nav ul{
	height: auto;
	padding: 0px;
	margin: 0px;
}

#Nav li{
	width: 180px;
	height: 10px;
	display: block;
	float:left;
	padding: 8px 30px;
	
}

#Nav a{
	text-decoration: none;
	color: #FFF;
	padding: 8px 8px 8px 8px;
}

#Nav a:hover{
	color: #F90;
	background-color: #FFF;
}

.submenu {
	display: block;
	/*width:100px;*/
	position:relative;
	top: 6px;
	left: -20px;
	z-index:500;
}

.submenu li {
	width: 80px;
	background-color: #111111;
	display:block;
	
	
}
#Sidebar{
	float:right;
	width: 200px;
	height: 300px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 2px 3px #333333;
	background-color:transparent;
	 border-radius: 8px;
	border: 0;
	
}

#Sidebar ul{
	height: 10px;
	padding: 8px 0px;
	margin: 0px;
}

#Sidebar li{
	display: inline;
	padding: 20px;
}

#Sidebar a{
	text-decoration: none;
	color: #;
	padding: 10px 10px 10px 10px;
}

#Sidebar a:hover{
	color: #F90;
	background-color: #FFF;
}

	

body {
image-resolution: snap;
	position: absolute;
	top:0;
	left:0;
	background-position: center;
	background-repeat: no-repeat;
	
	
}

#bgimage {
	content:"";
	margin: inherit;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-repeat: no-repeat no-repeat;
	background-color: transparent;
	background-attachment: scroll;
	background-size: auto;
	background-position: 50% 20%;
	background: url(images2.jpg);
	opacity: 0.5;
	z-index:-500;
}


#Footer{
	width: 1000px;
	height: 35px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: 3px 2px 3px #333333;
	background-color: #000000;
	 border-radius: 8px;
}


	